<template>
    <!-- <line :x1="fromX" :y1="fromY" :x2="toX" :y2="toY" stroke="black" /> --> 
    <path
       fill="none"
       :stroke="color"
       :stroke-width="active ? 1.5 : 0.26 "
       :d="path"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
</template>
<script>
import positions from './positions'
import colors from './colors'
export default {
    props: ['from', 'to', 'fromIndex', 'toIndex', 'lang', 'active'],
    computed: {
        fromX() {
            return positions.pos[this.from].x + 13 + 25 * this.fromIndex
        },
        fromY() {
            return positions.pos[this.from].y + 25
        },
        toX() {
            return positions.pos[this.to].x + 13 + 25 * this.toIndex
        },
        toY() {
            return positions.pos[this.to].y - 25
        },
        path() {
            if(!this.fromX || !this.fromY) return ''
            return `M ${this.fromX},${this.fromY} C ${this.fromX},${this.fromY+100} ${this.toX},${this.toY-100} ${this.toX},${this.toY}`
        },
        color() {
            return colors[this.lang] || '#000000'
        }
    }
}
</script>