<template>
    <g :transform="`translate(${xOffset},0)`">
       <rect width="25" height="50" style="fill:white;stroke-width:1;stroke:black" />
       <g :style="active ? '' : 'opacity:0.5'">
            <rect v-if="accepts" width="25" height="25" :fill="acceptsColor" style="opacity:0.7" />
            <rect v-if="provides" y="25" width="25" height="25" :fill="provicesColor" style="opacity:0.5" />
            <text x="13" y="16" font-size="0.6em" font-weight="bold" text-anchor="middle" >{{ accepts }}</text>
            <text x="13" y="42" font-size="0.6em" font-weight="bold" text-anchor="middle" >{{ provides }}</text>
        </g>
    </g>
</template>
<script>
import Vue from 'vue'
import colors from './colors'
export default {
    props: ['xOffset', 'accepts', 'provides', 'active'],
    computed: {
        acceptsColor() {
            return colors[this.accepts] || 'black'
        },
        provicesColor() {
            return colors[this.provides] || 'black'
        }
    }
}
</script>