<template>
    <g :transform="transform" class="element">
        <rect :width="totalWidth" height="50" style="fill:white;stroke-width:1;stroke:rgb(0,0,0)" />
        <image x="0.5" y="0.5" width="3" height="49" xlink:href="/meter.png" />
        <line x1="4" y1="0" x2="4" y2="50" stroke="black" />

        <slot></slot>
        <g :transform="`translate(${labelWidth+5},0)`">
            <ElementLangTuple 
                v-for="(l,index) in langs"
                :key="index"
                :accepts="l.accepts"
                :provides="l.provides"
                :xOffset="index*25"
                :active="index == -1"
            />
        </g>
    </g>
</template>
<script>
import Vue from 'vue'
import ElementLangTuple from "./ElementLangTuple.vue";
import positions from './positions'
export default {
    components: { ElementLangTuple },
    props: {
        langs: Array,
        labelWidth: Number,
        id: String
    },
    computed: {
        transform() {
            if(!this.pos || !this.pos.x || isNaN(this.pos.x)) return ''
            return `translate(${this.pos.x-this.labelWidth-4},${this.pos.y-25})`
        },
        totalWidth() {
            return this.labelWidth  + 25*this.langs.length + 1 + 4;
        },
        pos() {
            return positions.pos[this.id]
        }
    },
}
</script>
