<template>
    <div class="row">
        <div class="col-5 q-pa-lg">
            <div class="text-h6">Stage Language</div>
            <div class="q-pa-md">
                <q-option-group
                :options="langOptions"
                type="radio"
                v-model="stageLang"
                />
            </div>
            <div class="text-h6">Visible Connections</div>
            <div class="q-pa-md">
                <q-option-group
                :options="connOptions"
                type="radio"
                v-model="shownConnectionType"
                />
            </div>

            <div class="text-h6">Graph Options</div>
            <div class="q-pa-md">
                <q-option-group
                :options="graphOptions"
                type="radio"
                v-model="activeGraph"
                />
            </div>

        </div>
        <div class="col">
            <svg :height="height" :width="width">
                <!-- <Interpreter 
                    :x="100"
                    :y="100"
                    :langs="[{accepts:'DE',provides:'EN'},{accepts:'EN',provides:'DE'},{accepts:'DE',provides:'ES'}]" 
                    label="Alice"
                    id="1"
                />-->
                <Connection
                    v-for="c of connections"
                    :key="c.from+c.to+c.fromIndex+c.toIndex"
                    :active="activeConnections.includes(c)"
                    v-bind="c"
                />
                <Interpreter 
                    v-for="el of interpreters"
                    :key="el.id"
                    :langs="el.langs" 
                    :label="el.label"
                    :id="el.id"
                />
                <Stage 
                    id="stage"
                    :langs="stage.langs"
                />

                <Transmitter 
                    v-for="el of transmitters"
                    :key="el.id"
                    :id="el.id"
                    :langs="el.langs"
                    label="107.30 MHz"
                /> 
            </svg>
        </div>
    </div>
</template>
<script>
import Interpreter from './Interpreter.vue'
import Transmitter from './Transmitter.vue'
import Connection from './Connection.vue'
import Stage from './Stage.vue'
import { elements } from './data'
import positions from './positions'
import graph from './graph'

export default {
    components: { Interpreter, Transmitter, Stage, Connection },
    data() {
        return {
            stageLang: 'EN',
            activeGraph: 0,
            shownConnectionType: 'allContinuousConnections'
        }
    },
    
    props: ['width', 'height'],
    created() {

        // TODO: understand, whether this is reactive
        // otherwise add a watcher for these values
        positions.height = this.height
        positions.width = this.width
        positions.transmitters = this.transmitters
        positions.interpreters = this.interpreters
        positions.interpretersSign = this.interpretersSign

        positions.calculateInitPositions()

        graph.elements = elements
        positions.forceSimulation(elements, this.activeConnections)
    },
    watch: {
        activeGraph() {
            // positions.forceSimulation(graph.elements, this.activeConnections)
        },
        stageLang(v) {
            let stage = graph.elements.find(el => el.id == 'stage')
            if(stage) {
                stage.langs[0].provides = v
            }
            positions.forceSimulation(graph.elements, this.activeConnections)
        }
    },
    computed: {
        transmitters() {
            return elements.filter(e => e.id.match(/^tx/))
        },
        interpreters() {
            return elements.filter(e => e.id.match(/^int/))
        },
        interpretersSign() {
            return elements.filter(e => e.id.match(/^sign/))
        },
        graphs() {
            return graph.allPossibleGraphs
        },
        connections() {
            return graph[this.shownConnectionType]
        },
        activeConnections() {
            let g = this.graphs[this.activeGraph]
            if(!g) return []
            // console.log(g[0])
            return g.activeConnections(graph.allContinuousConnections)
        },
        stage() {
            return elements.find(e => e.id == 'stage')
        },
        connOptions() {
            return ['allPossibleConnections', 'allNonCycleConnections', 'allContinuousConnections'].map(k => ({label:k,value:k}))
        },
        langOptions() {
            return ['DE', 'EN', 'ES', 'FR', 'AR'].map(k => ({label:k,value:k}))
        },
        graphOptions() {
            return [
                {
                    label: 'None',
                    value: -1
                },
                ...this.graphs.map((g,index) => ({
                label: `Graph #${index+1}`,
                value: index
            }))
            ]
        }
    }
    
}
</script>
<style scoped>
svg {
    border: 1px solid black;
}
</style>