<template>
    <Element v-bind="$attrs" :labelWidth="70" :id="id">
        <!-- <text x="10" y="8" font-size="0.5em">Box A</text> -->
        <!-- <text x="20" y="34" font-size="1em">Int</text> -->
        <g transform="translate(17,10) scale(0.5)">
            <!-- headset icon -->
            <path d="M0 0h48v48h-48z" fill="none" opacity=".1"/><path d="M24 2c-9.94 0-18 8.06-18 18v14c0 3.31 2.69 6 6 6h6v-16h-8v-4c0-7.73 6.27-14 14-14s14 6.27 14 14v4h-8v16h8v2h-14v4h12c3.31 0 6-2.69 6-6v-20c0-9.94-8.06-18-18-18z"/>
        </g>
        <text x="40" y="33" font-size="2.5em" font-family="monospace">{{ id.slice(3) }}</text>
        <text x="37" y="47" font-size="0.7em" text-anchor="middle">{{ label }}</text>
    </Element>
</template>
<script>
import Element from './Element.vue'
export default {
    components: { Element },
    props: ['id', 'label']
}
</script>