<template>
  <Element v-bind="$attrs" :labelWidth="60">
    <g transform="translate(13,-5) scale(0.7)">
      <path d="M19.3984,4.0928c-0.3555-0.165-0.7813-0.1084-1.0781,0.1445L11.5024,10H7.4551C6.0767,10,5,11.1211,5,12.5v7   C5,20.8789,6.0767,22,7.4551,22h4.0474l6.8062,5.7627C18.4932,27.9189,18.7227,28,18.9551,28c0.1426,0,0.3086-0.0303,0.4434-0.0928   C19.751,27.7432,20,27.3896,20,27V5C20,4.6104,19.751,4.2568,19.3984,4.0928z M18,24.8428l-5.4624-4.6055   C12.3574,20.084,12.106,20,11.8691,20H7.4551C7.1792,20,7,19.7754,7,19.5v-7C7,12.2246,7.1792,12,7.4551,12h4.4141   c0.2368,0,0.4883-0.084,0.6685-0.2373L18,7.1572V24.8428z M22.9746,13.0527c0.8535,1.708,0.8535,4.1865,0,5.8945   C22.7998,19.2979,22.4463,19.5,22.0791,19.5c-0.1504,0-0.3027-0.0342-0.4463-0.1055c-0.4941-0.2471-0.6943-0.8477-0.4473-1.3418   c0.5752-1.1514,0.5752-2.9541,0-4.1055c-0.2471-0.4941-0.0469-1.0947,0.4473-1.3418   C22.127,12.3604,22.7285,12.5586,22.9746,13.0527z M25.7607,21.9473C25.585,22.2979,25.2324,22.5,24.8652,22.5   c-0.1504,0-0.3027-0.0342-0.4463-0.1055c-0.4941-0.2471-0.6943-0.8477-0.4473-1.3418c1.4404-2.8809,1.4404-7.2246,0-10.1055   c-0.2471-0.4941-0.0469-1.0947,0.4473-1.3418c0.4941-0.2451,1.0947-0.0469,1.3418,0.4473   C27.4834,13.499,27.4834,18.501,25.7607,21.9473z"/>
    </g>
    <text x="35" y="47" font-size="0.7em" text-anchor="middle">Stage</text>
  </Element>
</template>
<script>
import Element from "./Element.vue";
export default {
  components: { Element }
};
</script>