<template>
  <Element v-bind="$attrs" :labelWidth="60">
    <g transform="translate(13,-5) scale(0.7)">
      <g id="row_1">
        <g id="sofa">
          <rect fill="#212121" height="16" width="52" x="6" y="35" />
          <path d="M8,56H5v-4h4L8,56z M56,56h3v-4h-4L56,56z" fill="#3E2723" />
          <path
            d="M22.7,19.4c-5.6,0.8-11.6,1.2-17.9,1c-0.8,0-1.3,0.8-0.9,1.5C6.5,26.3,8,31.5,8,37v2.8h14.7V19.4z"
            fill="#9CCC65"
          />
          <path
            d="M41.3,19.4c5.6,0.8,11.6,1.2,17.9,1c0.8,0,1.3,0.8,0.9,1.5C57.5,26.3,56,31.5,56,37v2.8H41.3V19.4z"
            fill="#9CCC65"
          />
          <path
            d="M43,38H21c1.1-7.7,1.3-15.3,0.2-22.7c-0.1-0.7,0.4-1.2,1.1-1.1c6.4,0.8,12.8,0.8,19.4,0    c0.7-0.1,1.2,0.5,1.1,1.1C41.6,23.4,41.8,31,43,38z"
            fill="#8BC34A"
          />
          <path
            d="M55,53H9c-0.6,0-1-0.4-1-1v-7c0-0.6,0.4-1,1-1h46c0.6,0,1,0.4,1,1v7C56,52.6,55.6,53,55,53z"
            fill="#7CB342"
          />
          <path d="M31,44H9c-0.6,0-1-0.4-1-1v-5h24v5C32,43.6,31.6,44,31,44z" fill="#8BC34A" />
          <path d="M15,36c-2.6,0-4.9,0.7-7,2h24c-2.1-1.3-4.4-2-7-2H15z" fill="#AED581" />
          <path d="M33,44h22c0.6,0,1-0.4,1-1v-5H32v5C32,43.6,32.4,44,33,44z" fill="#8BC34A" />
          <path d="M49,36c2.6,0,4.9,0.7,7,2H32c2.1-1.3,4.4-2,7-2H49z" fill="#AED581" />
          <path
            d="M7,29.7c-1.5-2.3-5.2-1.1-5,1.6C2.1,32,2.4,32.6,2.8,33C3.5,33.8,4,34.8,4,35.9C4,39.8,4,49.1,4,52    c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1V33C8,32,7.7,30.7,7,29.7z"
            fill="#8BC34A"
          />
          <path
            d="M57,29.7c1.5-2.3,5.2-1.1,5,1.6c-0.1,0.7-0.4,1.3-0.8,1.8c-0.7,0.8-1.2,1.8-1.2,2.8c0,3.9,0,13.3,0,16.1    c0,0.6-0.4,1-1,1h-2c-0.6,0-1-0.4-1-1V33C56,32,56.3,30.7,57,29.7z"
            fill="#8BC34A"
          />
        </g>
      </g>
    </g>
    <text x="35" y="47" font-size="0.7em" text-anchor="middle">Stage</text>
  </Element>
</template>
<script>
import Element from "./Element.vue";
export default {
  components: { Element }
};
</script>