<template>
    <Element v-bind="$attrs" :labelWidth="70">
        <g transform="translate(27,10) scale(0.023)">
            <path d="M306.838 390.739c15.868-16.306 15.868-42.731 0-59.037-20.521-21.116-30.643-48.417-30.705-76.124 0.062-27.77 10.183-55.039 30.705-76.186 15.868-16.337 15.868-42.764 0-59.069-7.934-8.184-18.272-12.275-28.706-12.275-10.371 0-20.804 4.029-28.738 12.213-36.266 37.297-54.633 86.433-54.57 135.317-0.062 48.792 18.305 97.927 54.57 135.161C265.262 407.045 290.97 407.045 306.838 390.739zM149.093 33.14200000000005c-8.121-8.309-18.68-12.463-29.3-12.463-10.558 0-21.179 4.154-29.237 12.463C30.8 94.49099999999999 0.751 175.144 0.813 255.57799999999997 0.751 335.919 30.8 416.728 90.494 478.015c16.181 16.618 42.356 16.618 58.537 0 16.118-16.587 16.118-43.513 0-60.067-43.7-44.98-65.44-103.456-65.44-162.368s21.74-117.449 65.44-162.368C165.149 76.56100000000004 165.149 49.63499999999999 149.093 33.14200000000005zM513.031 359.847c57.351 0 103.956-46.574 103.956-103.956 0-57.382-46.605-103.955-103.956-103.955-57.381 0-103.956 46.573-103.956 103.955C409.076 313.273 455.65 359.847 513.031 359.847zM933.539 33.76700000000005c-16.181-16.618-42.355-16.618-58.475 0-16.181 16.587-16.181 43.513 0 60.068 43.668 44.918 65.409 103.456 65.409 162.368 0 58.85-21.805 117.387-65.473 162.306-16.117 16.618-16.117 43.575 0.062 60.068 8.059 8.309 18.616 12.463 29.237 12.463 10.558 0 21.178-4.154 29.236-12.463 59.726-61.287 89.774-142.096 89.649-222.437C1023.313 175.86199999999997 993.264 95.053 933.539 33.76700000000005zM513.281 442.873L513.281 442.873c-26.489 0.062-53.04-6.466-77.091-19.429L235.057 959.59h95.209l54.819-63.973h255.891l53.977 63.973h95.272L589.124 423.569C565.384 436.345 539.395 442.873 513.281 442.873zM512.656 473.517L577.004 703.7H449.059L512.656 473.517zM385.086 831.645l63.974-63.973h127.944l63.974 63.973H385.086zM717.194 121.04200000000003c-15.868 16.306-15.868 42.731 0 59.037 20.491 21.116 30.611 48.511 30.674 76.124-0.062 27.77-10.183 55.102-30.674 76.187-15.868 16.336-15.868 42.763 0 59.068 7.871 8.184 18.242 12.213 28.737 12.213 10.309 0 20.741-4.029 28.675-12.213 36.298-37.234 54.665-86.433 54.54-135.255 0.125-48.792-18.181-97.927-54.54-135.161C758.801 104.73599999999999 733.062 104.73599999999999 717.194 121.04200000000003z"/>
        </g>
        <text x="40" y="47" font-size="0.7em" text-anchor="middle">{{ label }}</text>
    </Element>
</template>
<script>
import Element from './Element.vue'
export default {
    components: { Element },
    props: [ 'label' ]
}
</script>