<template>
  <q-page>
        <Graph :width="800" :height="600"/>
  </q-page>
</template>

<style>
</style>

<script>
import Graph from '../components/Graph/index.vue'

export default {
  name: 'PageHome',
  components: { Graph }
}
</script>
